/* stili generali pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/treno.jpg);
    background-size: 21%;
}

.container {
    width: 60%;
    margin: 0 auto;
    background-color:#ffdeb8e8;
    border-radius: 10px;
}

/* stili section info */
h1 {
    text-align: center;
    margin-top: 50px;
}

span {
    margin-bottom: 20px;
    font-size: 20px;
}

.info {
    display: flex;
    justify-content: center;
}

.user {
    display: flex;
    flex-direction: column;
    margin: 50px;
    text-align: center;
}

.user input {
    padding: 5px;
}

/* stili section comandi */
.comandi {
    text-align: center;
}

.comandi button {
    margin: 20px;
    padding: 10px 50px;
    background-color: #e36c4a;
    color: white;
    font-weight: bold;
    border: none;
}

/* stili info ticket */
.info-ticket {
    display: flex;
    flex-direction: column;
    margin: 30px;
    text-align: center;
}

.info-ticket span:first-child {
    font-size: 18px;
    font-weight: bold;
}

.info-ticket span:last-child {
    font-style: italic;
}

.ghost {
    display: none;
    width: 100%;
    height: 300px;
    background-color: #91c2b4cf;
    color: #e76f4d;
    border-radius: 10px;
    
}
